/* grid view */
.gridRegion {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    grid-gap: 4px;

}
